         /* ↓main page↓ */

         @font-face {
             font-family: 'Museo Cyrl'; /* Гарнитура шрифта */
             src: url(../fonts/museo_cyrl_500_regular.otf); /* Путь к файлу со шрифтом */
         }
         @font-face {
             font-family: 'Museo Sans Cyrl 100'; /* Гарнитура шрифта */
             src: url(../fonts/museosanscyrl_1.otf); /* Путь к файлу со шрифтом */
         }
         @font-face {
             font-family: 'Museo Sans Cyrl 300'; /* Гарнитура шрифта */
             src: url(../fonts/museosanscyrl_2.otf); /* Путь к файлу со шрифтом */
         }
         @font-face {
             font-family: 'Museo Sans Cyrl 500'; /* Гарнитура шрифта */
             src: url(../fonts/museosanscyrl.otf); /* Путь к файлу со шрифтом */
         }
         @font-face {
             font-family: 'Museo Sans Cyrl 700'; /* Гарнитура шрифта */
             src: url(../fonts/museosanscyrl_3.otf); /* Путь к файлу со шрифтом */
         }
         @font-face {
             font-family: 'Museo Sans Cyrl 900'; /* Гарнитура шрифта */
             src: url(../fonts/museosanscyrl_0.otf); /* Путь к файлу со шрифтом */
         }



body{
    background:url('../img/background.jpg') repeat-y center center ;
}

.site_page{
    margin: 2.62%;
    background-color: white;
    border-bottom: 12px solid #aaaaaa;
    border-radius: 6px;
    box-shadow: 0px 0px 35px black;
}


a:hover, a:active{
    text-decoration: none;
}

header{
    padding-top: 1.5%;
    padding-left: 4.4%;
    /*padding-right: 4.4%;*/
    padding-bottom: 1.5%;
}
header .logo{
    vertical-align: middle;
}
header .logo h1{
    font-family: 'Museo Cyrl';
    color: #cc0000;
    font-size: 48px;
    float:left;
}
header .logo>span{
    display: none;
}
header .logo span, .header_left_block small{
    font-family: 'Museo Sans Cyrl 100';
    font-size: 12px;
    color: #a3a3a3;
}
    /*↓small_menu_options↓*/
header .small_menu{
    display: none;
}

header .small_menu .navbar-header{
    background-color: #f0f0f0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}
header .small_menu .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
header .small_menu .navbar-default .navbar-toggle {
   border: none;
}
header .small_menu div.navbar-collapse{
    padding-right: 30px;
}
header .small_menu  b.caret{
    margin-left: 1px;
    margin-top: -9px;
}

header .small_menu .dropdown-toggle i{
    border: 2px solid #333333;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 4px;
    position: absolute;
    bottom: 14px;
}

header .small_menu li a{
    font-family: 'Museo Sans Cyrl 900';
    font-size: 14px;
    font-weight: bold;
    color:#333333 !important;
}
/*header .small_menu ul.nav>li>a.dropdown-toggle:active i{
    border: 2px solid  #00cc33;
}*/
header .small_menu ul.nav>li:hover >a{
    color: #00cc33 !important;
}
    /*↑small_menu_options↑*/

header .navigation{
    padding-top: 40px;
    padding-left: 60px;
}
header .dropdown-toggle{
    margin-right: 6px;
}
header .navigation  span.caret{
   margin-left: 1px;
   margin-top: -9px;
}
header .navigation i, header .small_menu .dropdown-toggle i{
    border: 2px solid #333333;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 4px;
    position: absolute;
    bottom: 14px;
}
header .navigation a:hover i, header .small_menu .dropdown-toggle:hover i{
    border: 2px solid #00cc33;
}
header li a{
    margin-right: -12px;
    text-transform: uppercase;
    font-family: 'Museo Sans Cyrl 900';
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff !important;
}
header ul.dropdown-menu li a{
    margin-right: auto;
}
header li a:hover{
    color: #00cc33;
}


.header_right_block{
    border-left:1px solid #aaaaaa;
    /*padding-left: 60px;*/
    /*padding-right: 60px;*/
}
.header_right_block strong{
    font-family: 'Museo Sans Cyrl 500';
    font-size: 15px;
}
.header_right_block button.btn-default{
    padding: 6px 12px 4px 12px;
    font-family: 'Museo Sans Cyrl 500';
    font-size: 14px;
    color: #54afd6;
    border: 1px solid #54afd6;
    border-radius: 5px;
    text-transform: uppercase;
}
.header_right_block button.btn-default:hover{
    color: #00cc33;
    border: 1px solid #00cc33;
    background-color: white;
}

article .color_divider{
    width: 100%;
    height: 4px;
    background: url('../img/color_divider.jpg') no-repeat center center;
    margin-top: -11px;
}
.over_slide {
    position: absolute;
    top: 50%;
    color:white;
    left: 40px;
}
.over_slide h2{
    font-family: 'Museo Cyrl';
    font-size: 31px;
}
.over_slide p{
    font-family: 'Museo Sans Cyrl 300';
    font-size: 15px;
    color:white;
}
.over_slide_button{
    display:block;

}
.over_slide li{
    background: #0099cc;
    height: 5px;
    width: 8%;
    margin-left: 5px;
 }
.over_slide li:hover{
    background: #33cc33;
    cursor: pointer;
}


article .middle_text h1{
    font-family: 'Museo Cyrl';
    font-size: 31px;
}
article .middle_text p{
    font-family: 'Museo Sans Cyrl 500';
    font-size: 16px;
    padding-bottom: 4%;
}
.after_slider p{
    font-family: 'Museo Sans Cyrl 700';
    font-size: 14px;
}
article .after_slider img{
    margin-top: 15px;
    width:100%;
}
.text_link{
    font-family: 'Museo Sans Cyrl 700';
    font-size:20px;
    color:#24a0cf;
    border-bottom: 1px solid #24a0cf;
}
.text_link:hover{
    color: #00cc33;
    border-bottom: 1px solid #00cc33;
}
article button.btn-default{
    padding: 6px 12px 4px 12px;
    font-family: 'Museo Sans Cyrl 500';
    font-size: 14px;
    color: #54afd6;
    border: 1px dashed #54afd6;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 5.5%;
    margin-top: 5.5%;
}
article button.btn-default:hover{
    color: #00cc33;
    border: 1px dashed #00cc33;
    background-color: white;
}




footer {
    background-color: #f0f0f0;
    padding-top: 5%;
    padding-bottom: 2%;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: -6px;
}
footer .top_part .col-md-4 p, footer .bot_part .col-md-4 p, footer .top_part .col-md-3{
    font-family: 'Museo Sans Cyrl 500';
    font-size: 14px;
}
footer hr{
    color: #cacaca;
    border-bottom: 1px solid #cacaca ;
    margin-bottom: 5.5%;
    margin-top: 5.5%;
}
footer .bot_part .col-md-4 p span{
    font-family: 'Museo Cyrl';
    font-size: 31px;
    color: black;
}
footer .col-md-2 a, footer .col-md-4 p>a{
    font-family: 'Museo Sans Cyrl 500';
    border-bottom: 1px solid #24a0cf;
    font-size:14px;
    color:#0099cc;
}
footer .col-md-2 a:hover, footer .col-md-4 p>a:hover{
    color: #00cc33;
    border-bottom: 1px solid #00cc33;
}
footer .top_part .soc_imgs{
    float: right;
}
footer .top_part .soc_imgs img{
    margin-left: 5px;
}


footer .top_part .soc_imgs img:nth-child(1):hover{
    border-radius: 100%;
    box-shadow: 0px 0px 1px  #3b5998;
}
footer .top_part .soc_imgs img:nth-child(2):hover{
    border-radius: 100%;
    box-shadow: 0px 0px 1px  #577ca2;
}
footer .top_part .soc_imgs img:nth-child(3):hover{
    border-radius: 100%;
    box-shadow: 0px 0px 1px 5px  #d23e2b;
}
footer .top_part .soc_imgs img:nth-child(4):hover{
    border-radius: 100%;
    box-shadow: 0px 0px 1px  #4cc2ff;
}
footer .top_part .soc_imgs img:nth-child(5):hover{
    border-radius: 100%;
    box-shadow: 0px 0px 1px  #42c7f2;
}


.blog_icon{
    float:left;
    margin-right: 10px;
}
footer .bot_part .row .col-md-4 .central_text{
    border-right: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
}
footer .bot_part .share_icons{

}
         /* ↑main page↑ */


  /* @media screen and (max-width: 400px) {
       header .small_menu{
           margin-left: 0.25%;
       }
   }*/



   @media screen  and (max-width: 600px) {
       header .logo>span{
           display: none !important;
       }
       header .logo h1>span{
           display: inline !important;
       }
       header .logo h1{
           margin-left:10%;
       }
       footer .top_part .col-md-4 p, footer .top_part .col-md-3 p, footer .top_part .col-md-2 p{
           text-align: center;
       }
       footer .top_part .soc_imgs{
           float: none !important;
           padding-left: 13%;

       }
       header .large_menu{
           display:none;
       }
       header .small_menu{
           display: inline-block !important;
           width:100%;
           /*margin-right: 10%;*/
           padding-left: 0px;
       }
       .header_right_block{
           border: none;
       }
       article .over_slide{
           display: none;
       }
       article .after_slider img{
           margin-bottom: 15px;
           margin-top: 25px;
       }
       article .after_slider .col-md-3{
           padding: 0px;
           margin-left: 15px;
           margin-right: 15px;
           border-bottom: 1px solid #f0f0f0;
       }
       article .after_slider .col-md-3:nth-last-child(1){
           border: none;
       }
       footer .bot_part .share_icons{
           display: -webkit-box;
           display: -moz-box;
           display: -ms-flexbox;
           display: -webkit-flex;
           display: flex;
           -webkit-box-align: center;
           -moz-box-align: center;
           -ms-flex-align: center;
           -webkit-align-items: center;
           align-items: center;
           -webkit-box-pack: center;
           -moz-box-pack: center;
           -ms-flex-pack: center;
           -webkit-justify-content: center;
           justify-content: center;
           padding-bottom: 8%;
       }
   }


   @media screen  and (max-width: 1024px) {
       .header_right_block{
            border: none;
       }
   }


   @media screen and (min-width: 1280px) {

   }




        /*Google nexus 7 & 5*/




   @media (max-width: 768px) {
       footer .bot_part .row .col-md-4:nth-child(1){
           margin-left: 20px;
       }
       footer .bot_part .central_text{
           padding-top: 20px;
           border: none;
       }
   }

   @media (min-width: 768px) and (max-width: 992px) {
       /*header .logo h1 span{
           display: none;
       }
       header .logo>span{
           display: inline-block;
           margin-left: -102px;
       *//*margin-top: 10px;*//*
       }*/
       header .navigation{
           padding-left: 0px;
         /*margin-left: -70px;*/
       }
        header .header_right_block{
           margin-top: 10px;
       }
       .over_slide {
           top: 40%;
       }
       footer .bot_part .row .col-md-4:nth-child(1) p{
           padding-top: 14px;
       }
       footer .bot_part .row .col-md-4:nth-child(1) p>a{
           display: inline-block;
           /*margin-top: 10px;*/
       }
   }

   @media (min-width: 992px) and (max-width: 1200px) {

   }